  <script>window.CAMP_START_ISO = '<%= campStartISO %>';</script>
  <script src="/js/countdown.js" defer></script>
  <script src="/js/menu.js" defer></script>
  <script src="/js/bom-carousel.js" defer></script>
  <script src="/js/lightbox.js" defer></script>
</body>
</html>
