<%- include('partials/head') %>
<%- include('partials/header') %>

<main id="main" class="page">
  <!-- Inner hero / page header -->
  <section class="hero hero--inner hero--costumes">
    <div class="overlay"></div>
    <header class="center hero__content">
      <h1>Costumes</h1>
      <div class="hero-actions">
        <a href="#inspiraton" class="hero-btn hero-btn--ghost">Inspiration</a>
        <a href="#guidelines" class="hero-btn hero-btn--ghost">Guidelines</a>
        <a href="#tutorials" class="hero-btn hero-btn--ghost">Tutorials</a>
      </div>
    </header>
  </section>

  <!-- Costumes content -->


  <section id="costumes"  class="costumes">
    <div class="costumes-intro">
      <div class="wrap">
        <h2 class="costumes__title">Dressing for the Journey</h2>

        <p class="intro">
          Costumes are a key part of the Moroni’s Quest experience. Wearing simple,
          modest, and period-appropriate clothing helps everyone step out of the
          modern world and into the time and setting of the Book of Mormon.
        </p>
        <div class="reg-shield-divider">
          <span class="shield-icon">
            <svg viewBox="0 0 24 24" width="22" height="22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 2L4 5V11C4 16.52 7.84 20.74 12 22C16.16 20.74 20 16.52 20 11V5L12 2Z"
                    fill="#D2AA31" stroke="#D2AA31" stroke-width="1.5" />
            </svg>
          </span>
        </div>
        <div class="costumes-intro__icongrid" aria-label="Costume requirements summary">
          <div class="ci-item">
            <span class="ci-icon ci-icondouble" aria-hidden="true">
              <!-- Tunic / garment (abstract) -->
                <div class="ci-icon ci-icondouble ci-icon--double">
                  <svg viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M2 5 L6.5 2 H17.5 L22 5 L20 10 L15.8 8.2 V22 H8.2 V8.2 L4 10 Z"/>
                    <path d="M12 3.8 V7"/>
                  </svg>

                  <svg viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M2 5 L6.5 2 H17.5 L22 5 L20 10 L15.8 8.2 V22 H8.2 V8.2 L4 10 Z"/>
                    <path d="M12 3.8 V7"/>
                  </svg>
                </div>

            </span>
            <span class="ci-text">Two complete<br>costumes</span>
          </div>

          <div class="ci-item">
            <span class="ci-icon" aria-hidden="true">
              <!-- Satchel (abstract) -->
              <svg viewBox="0 0 24 24">
                <path d="M7 9h10l-1 12H8L7 9z"/>
                <path d="M9 9V7a3 3 0 0 1 6 0v2"/>
                <path d="M6 10h12"/>
              </svg>
            </span>
            <span class="ci-text">Satchel<br>required</span>
          </div>
<!--
          <div class="ci-item">
            <span class="ci-icon" aria-hidden="true">

              <svg viewBox="0 0 24 24">
                <path d="M12 7v6l4 2"/>
                <path d="M21 12a9 9 0 1 1-9-9 9 9 0 0 1 9 9z"/>
              </svg>
            </span>
            <span class="ci-text">Worn at all times<br><small>(except sleeping)</small></span>
          </div>
-->
          <div class="ci-item">
            <span class="ci-icon" aria-hidden="true">
              <!-- Footwear -->


              <svg width="75px" height="75px" viewBox="0 -588.5 2201 2201" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M36.493482 977.39459h2117.908116l-7.474453-377.240017s-186.861314-311.288965-476.166595-366.248175S769.429507 39.570631 769.429507 39.570631s-175.869472 455.941606-696.443109 305.133534l-36.492916 18.466294v615.543152z" ></path><path d="M51.002714 608.508373a481.003006 481.003006 0 0 1 197.853156-40.449979c93.21082 7.034779 175.869472-113.435809 190.378703-190.378703 0 0-355.256333-10.991842-366.248175-32.975526s-36.492915 18.466295-36.492916 18.466294z" ></path><path d="M1025.319588 321.40146l453.303564 115.634178-258.08845 389.990553-489.356806-19.345641 294.141692-486.27909z" ></path><path d="M1755.177896 226.871619L783.938738 1.319021h-10.112495a43.967368 43.967368 0 0 0-38.691283 23.742379c-57.597252 116.513525-175.869472 254.571061-315.685702 287.98626a622.138257 622.138257 0 0 1-143.33362 16.267926 579.050236 579.050236 0 0 1-215.000429-38.691284 43.967368 43.967368 0 0 0-17.147274-3.517389 43.967368 43.967368 0 0 0-43.967368 43.967368v692.925719h2198.368399v-293.262344c0.439674-241.820524-209.284672-450.225848-443.19107-503.866037zM2110.873903 729.418635v31.216831h-236.984113a842.854444 842.854444 0 0 0-175.869472-456.38128l38.691284 7.914127c182.904251 42.648347 374.162301 211.043366 374.162301 417.250322zM1209.103186 405.818806l-233.906397 354.81666h-175.869472l257.209102-389.55088z m91.452126 21.104337l113.435809 25.940747-203.12924 307.771576h-131.902104z m204.887934 47.045084l219.83684 50.562473a754.919708 754.919708 0 0 1 57.597252 236.104766H1318.142259zM794.93058 94.529841l61.554315 14.509232-7.034779 31.216831a43.967368 43.967368 0 1 0 85.736368 19.785315l10.112494-32.535852 85.736368 19.785316-7.034779 30.337484a43.967368 43.967368 0 0 0 85.736368 19.785315l7.034778-30.337484 85.736368 19.785316-7.034779 29.89781a43.967368 43.967368 0 0 0 85.736368 19.785316l7.034779-29.897811 85.736367 19.785316-6.595105 29.458137a43.967368 43.967368 0 1 0 85.736367 19.785315l6.595106-29.458136 92.771146 21.54401a766.351224 766.351224 0 0 1 123.987978 152.566767l-952.772864-219.83684a776.024045 776.024045 0 0 0 73.425504-106.401031zM651.157287 277.873766l314.366681 72.106483-270.838987 410.655217H88.374977v-83.537999c31.656505-52.321168 63.752684-59.355947 143.773293-76.063547 31.216831-6.595105 66.830399-14.069558 109.91842-25.940747a199.172177 199.172177 0 0 0 134.97982-98.047231 156.52383 156.52383 0 0 0 12.750536-95.848862 515.737226 515.737226 0 0 0 163.118935-103.323314zM273.91727 415.931301a714.030056 714.030056 0 0 0 127.94504-12.310863 67.270073 67.270073 0 0 1-6.595105 35.613568 118.711894 118.711894 0 0 1-79.141262 51.002147c-40.010305 10.991842-74.304852 18.466295-104.202662 24.621726a416.810648 416.810648 0 0 0-125.746673 40.010305V391.309575a708.753972 708.753972 0 0 0 189.93903 24.621726zM86.176608 934.306569v-87.934736h2022.498927v87.934736h-2022.498927z" fill="#D3AF37"></path></g></svg>

            </span>
            <span class="ci-text">Closed-toe <br>shoes</span>
          </div>

          <div class="ci-item">
            <span class="ci-icon" aria-hidden="true">
              <!-- Modesty / simple (abstract) -->
              <svg viewBox="0 0 24 24">
                <path d="M12 3l7 4v5c0 5-3.5 8.5-7 9.5C8.5 20.5 5 17 5 12V7l7-4z"/>
                <path d="M9 12l2 2 4-5"/>
              </svg>
            </span>
            <span class="ci-text">Simple &amp;<br>modest</span>
          </div>
        </div>


        <p class="costumes-intro__note">
          Scroll down for costume ideas, detailed guidelines, and helpful videos.
        </p>

        
      </div>
    </div>


    <section id="inspiraton" class="costume-ideas">
      <div id="color-block"></div>

      <div class="wrap">
        <div class="section-head">
          <h2>Costume Ideas</h2>
          <p class="muted">Click through for inspiration. Keep it simple, modest, and period-appropriate.</p>
        </div>

        <div class="mq-carousel" data-carousel aria-label="Costume ideas carousel">
          <div class="mq-carousel__viewport" data-viewport>
            <div class="mq-carousel__track" data-track>
              <!-- Slide 1 -->
              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume1.png" alt="costume idea">
                <!--<figcaption>Simple tunic + sash (muted, woven-looking fabric).</figcaption>-->
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume2.png" alt="costume idea">
                <!--<figcaption>Simple tunic + sash (muted, woven-looking fabric).</figcaption>-->
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume3.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume4.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume5.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume6.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume7.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume8.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume9.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume10.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume11.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume12.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume13.jpg" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume14.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume15.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume16.jpg" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume17.jpg" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume18.jpg" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume19.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume20.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume21.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume22.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume23.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume24.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume25.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume26.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume27.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume28.png" alt="costume idea">
              </figure>

              <figure class="mq-carousel__slide">
                <img src="/img/costumes/costume29.png" alt="costume idea">
              </figure>
          </div>

          <button class="mq-carousel__btn prev" type="button" data-prev aria-label="Previous slide">‹</button>
          <button class="mq-carousel__btn next" type="button" data-next aria-label="Next slide">›</button>

          <div class="mq-carousel__dots" data-dots aria-label="Slide navigation"></div>
        </div>
      </div>
    </section>

  <section id="guidelines" class="costume-notes" aria-labelledby="costume-guidelines-title">
  <div class="costume-notes__wrap">
    <header class="costume-notes__head">
      <h2 id="costume-guidelines-title">Costume Guidelines</h2>
      <p class="costume-notes__intro">
        Costumes help us fully immerse ourselves in the world and time of the Book of Mormon.
        Keep it simple, modest, and practical—so everyone can focus on the experience.
      </p>
    </header>

    <ul class="costume-notes__key">
      <li><strong>Wear at all times</strong> (except while sleeping).</li>
      <li><strong>Two complete costumes</strong> are required.</li>
      <li><strong>Satchel required:</strong> cross-body and large enough for scriptures, journal, writing supplies, and a water bottle.</li>
    </ul>

    <div class="costume-notes__rule">
      <span class="costume-notes__ruleline" aria-hidden="true"></span>
      <span class="costume-notes__ruletxt">Fit &amp; layering</span>
      <span class="costume-notes__ruleline" aria-hidden="true"></span>
    </div>

    <p class="costume-notes__para">
      Costumes should fall <strong>just below the knee</strong>. Small side slits are fine for movement—please
      <strong>reinforce stitching</strong> since activities (including battle scenes) can be active.
      Costumes should be <strong>loose enough to layer</strong> modest shorts and a t-shirt underneath, and roomier still
      if you’ll wear pants on cool days. If needed, light jackets or hoodies must be worn <strong>under</strong> the costume.
    </p>

    <div class="costume-notes__rule">
      <span class="costume-notes__ruleline" aria-hidden="true"></span>
      <span class="costume-notes__ruletxt">Color &amp; fabric</span>
      <span class="costume-notes__ruleline" aria-hidden="true"></span>
    </div>

    <p class="costume-notes__para">
      Choose <strong>earth tones and natural colors</strong> (browns, tans, greens, blues). Woven-looking or subtle
      striped fabrics work well. Please avoid <strong>neon or extra-bright colors</strong>, large distracting prints,
      or bold florals. When in doubt, aim for <strong>plain and simple</strong>.
    </p>

    <div class="costume-notes__rule">
      <span class="costume-notes__ruleline" aria-hidden="true"></span>
      <span class="costume-notes__ruletxt">Head coverings &amp; footwear</span>
      <span class="costume-notes__ruleline" aria-hidden="true"></span>
    </div>

    <p class="costume-notes__para">
      A <strong>shepherd-style head covering</strong> is strongly recommended for sun protection.
      Modern hats (ball caps, cowboy hats, toques, etc.) are not permitted.
    </p>

    <p class="costume-notes__para">
      Bring <strong>a pair of shoes or runners</strong> you can also bring a pair of 
      sandals that won’t easily come off. <strong>No flip-flops.</strong>
    </p>

    <div class="costume-notes__rule">
      <span class="costume-notes__ruleline" aria-hidden="true"></span>
      <span class="costume-notes__ruletxt">Accessories &amp; inspiration</span>
      <span class="costume-notes__ruleline" aria-hidden="true"></span>
    </div>

    <p class="costume-notes__para">
      Have fun with simple accessories—sashes, tie belts, trims, buttons, or contrasting fabric accents—
      while keeping the overall look <strong>period-appropriate and modest</strong>.
      Inspiration can be found in Book of Mormon artwork, image searches, and Pinterest.
    </p>
  </div>
</section>


  <section id="tutorials" class="costume-videos">
    <div id="color-block"></div>

    <div class="wrap">
      <div class="section-head">
        <h2>Costume Tutorials</h2>
        <p class="muted">These short videos demonstrate appropriate Moroni’s Quest attire and offer guidance for creating your own costume.</p>
      </div>
    </div>
    <div class="costume-videos__grid">
      <div class="video">
        <iframe
          src="https://www.youtube.com/embed/YKTf1EJ5M5k"
          title="Moroni's Quest Costume Tutorial"
          loading="lazy"
          allowfullscreen>
        </iframe>
      </div>

      <div class="video">
        <iframe
          src="https://www.youtube.com/embed/WWu8GJuR_2Q"
          title="Moroni's Quest Costume Guide"
          loading="lazy"
          allowfullscreen>
        </iframe>
      </div>
      
    </div>
  </section>

</section>


</main>

<%- include('partials/footer') %>
<%- include('partials/foot') %>
